:root {
  --yellow: #ffeb3f;
  --purple: #f055ff;
}

html {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 18px;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: black url(../img/dot.png);
  color: white;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 6px solid var(--yellow);
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadButton {
  border: 6px solid var(--yellow);
  background: black;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  color: inherit;
  padding: 25px;
  width: 100%;
}

.uploadProgress {
  display: block;
  width: 100%;
  height: 25px;
  background: black;
}

.uploadProgress::-webkit-progress-bar {
  background: black;
}

.uploadProgress::-webkit-progress-value {
  background: var(--yellow);
}

.message {
  animation: 0.1s flicker infinite linear;
}

label {
  margin-left: 0px;
}

h3 {
  padding-right: 5%;
}

@keyframes flicker {
  0%,
  100% {
    color: #64ffff;
  }

  50% {
    color: #ff0011;
    transform: translate(0, 0.5px);
  }
}

@keyframes animate {
  0%,
  100% {
    background-position: 0%, 0%;
  }
  50% {
    background-position: 100%, 100%;
  }
}

.shape {
  position: absolute;
  animation: 0.3s glitch-in linear;
}

.shape__rect-stroked {
  border: 6px solid var(--yellow);
}

.shape__rect-filled {
  background: var(--purple);
}

.shape__oval-filled {
  background: var(--yellow);
  border-radius: 50%;
}

.shape__oval-stroked {
  border: 6px solid var(--yellow);
  border-radius: 50%;
}

@keyframes glitch-in {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  10% {
    opacity: 1;
    transform: translate(0, 20px);
  }

  20% {
    opacity: 0;
    transform: translate(0, -100px);
  }

  30% {
    opacity: 1;
    transform: translate(10px, 100px);
  }

  40% {
    opacity: 0;
    transform: translate(20px, 50px);
  }

  50% {
    opacity: 1;
    transform: translate(-10px, 50px);
  }

  60% {
    opacity: 0;
    transform: translate(0, 0px);
  }

  70% {
    opacity: 1;
    transform: translate(0, 10px);
  }

  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
