img {
  max-width: 100%;
}

html,
body {
  overflow: auto !important;
}

.all {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 15px;
  margin: 0 auto;
  padding: 0;
  width: 80vw;
}

.item img,
.item video {
  width: 200px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid black;
}

h1 {
  background: black;
  color: white;
  text-align: center;
}
