.container {
  width: 100%;
  height: 100%;
}

.videoContainer > video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.imgContainer > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 110;
}
footer {
  position: absolute;
  left: 95%;
  top: 92%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 200;
  border: 4px solid black;
  border-radius: 40px;
  padding: 5px 10px;
}
a {
  color: red;
  text-decoration: none;
  font-size: 1.2em;
}
