.container {
  width: 100%;
  height: 100%;
}

.videoContainer,
.imgContainer {
  visibility: visible;
  width: 100%;
  height: 100%;
}
.videoContainer > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
.imgContainer > img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  top: 0px;
  left: 0px;
  
}
.footerG {

}

.footerG:hover .playerGlitch {
  animation: animateGlitch .6s linear;
}

a:hover {
  animation: animateGlitch2 .6s linear;
}
a {
  position: absolute;
  left: 96%;
  top: 92%;
  color: black;
  font-family: monospace;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 1em;
}

.playerGlitch{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  top: 0px;
  left: 0px;
  z-index: 500;
  background-image: url(../img/GlitchBG.png);
  opacity: 0;
  pointer-events: none;
  /*mix-blend-mode: screen;*/
}

@keyframes animateGlitch{
  0%,15%,25%,55%,80%,100%{
    opacity: 0;
  }
  10%, 20%, 48%, 75%, 92%{
    opacity: 1;
  }
}

@keyframes animateGlitch2
{
	0%
	{
		transform: translate(0px, 0px);
    color:red;
  }
	10%
	{
		transform: translate(9px, 10px);
	}
	20%
	{
		transform: translate(0px, -5px);
	}
	30%
	{
		transform: translate(4px, 0px);
	}
	40%
	{
    transform: translate(-5px, 0px);
    color: cyan;
	}
	50%
	{
		transform: translate(-7px, 0px);
	}
	60%
	{
    transform: translate(-5px, 0px);
    color: red;
	}
	70%
	{
		transform: translate(5px, -8px);
	}
	80%
	{
		transform: translate(-6px, -6px);
	}
	81%
	{
		transform: translate(0, 0px);
	}
	100%
	{
		transform: translate(0, 0px);
  }
}